node_modules
**/node_modules
.git
.github
.husky
.serverless
.vscode
dist
*.log
.env*
!.env.docker.example

apps/web/*
!apps/web/package.json

apps/desktop/*
!apps/desktop/package.json
!apps/desktop/src-tauri
apps/desktop/src-tauri/*
!apps/desktop/src-tauri/icons
apps/desktop/src-tauri/icons/*
!apps/desktop/src-tauri/icons/Square310x310Logo.png
