node_modules
**/node_modules
.git
.github
.husky
.serverless
.vscode
apps/desktop
apps/web
dist
*.log
.env*
!.env.docker.example
!apps/desktop/
apps/desktop/*
!apps/desktop/package.json
!apps/web/
apps/web/*
!apps/web/package.json
